{% extends 'base.html' %}
{% block content %}

<h1>{{store.name}}</h1>
<div class="card-action">
    {% if request.user == store.user %}
        <a href="{% url 'stores_update' store.id %}">Edit</a>
        <a href="{% url 'stores_delete' store.id  %}">Delete</a>
    {% endif %}
</div>


<button><a href="{% url 'new_product' store.id %}">ADD PRODUCT</a></button>

{% for product in products %}
<ul>
    <li><a href="/product/{{product.id}}/">{{ product.name }}</a></li>
</ul>
{% endfor %}

{% endblock %}